body {
    margin: 0;
    background: rgb(212, 212, 212);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article.card {
    width: 250px;
    height: 450px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    border-radius: .5rem;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    border: .5rem solid white;
    background: #f7f7f7;
    color: rgb(206, 56, 56);
    box-shadow: 0 0 2rem rgb(17, 17, 17);
}

.card aside {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card aside span {
    color: #666;
}

.card aside.top {
    margin: .5rem;
    align-self: flex-start;
}

.card aside.bottom {
    transform: rotate(180deg);
    margin: .5rem;
    align-self: flex-end;
}